// mixins mixins mixins mixins mixins mixins mixins mixins mixins mixins mixins mixins mixins mixins mixins

@mixin fontSize($value) {
	// older browser support
	font-size: $value *1px;
	// newer browsers
	font-size: ($value / 10) *1rem;
}

// variables variables variables variables variables variables variables variables variables variables variables
$colorBackground: #F5F3F6;
$colorFontDark: #3E4F5A;
$colorFontLight: #6B808E;
$colorAccent1: #FEFE81;
$colorAccent2: #2CA7F3;
$colorAccent3: #3ECED2;
$colorBorderDark: #384751;
$fontTitle: 'Poiret One', cursive;
$fontText: 'Cousine';

// styling styling styling styling styling styling styling styling styling styling styling styling styling

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

html {
	position: relative;
	font-size: 62.5%;
}
img {
	display: block;
}
.wrapper {
	max-width: 95%;
	margin: 0 auto;
}
.container {
	max-width: 70%;
	margin: 0 auto;
}
.footerborder {
	max-width: 80%;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
body {
	font-family: $fontText;
	@include fontSize(18);
	letter-spacing: 0.5px;
	color: $colorFontLight;
	background-color: $colorBackground;
}
body::after {
  content: "";
   // background-image: url(../kalin-week8project_theme-hackeryou/images/noisy_grid.png);
  background-image: url(../kalin-week8project_theme-hackeryou/images/tiny_grid.png);
  background-attachment: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -2;   
}
h1,
h2,
h3,
h4 {
	font-family: $fontTitle;
	color: $colorFontDark;
	font-weight: 700;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px rgba(128,128,128,.5);
}
h1 {
	@include fontSize(61);
	letter-spacing: 10px;	
}
h2 {
	@include fontSize(35);
	letter-spacing: 7px;
	i {
		color: rgba($colorFontDark, 0);
		text-shadow: none;
	}
}
h3 {
	@include fontSize(25);
	letter-spacing: 4px;	
}
h4 {
	@include fontSize(21);
	letter-spacing: 3px;
}
a {
	text-transform: uppercase;
}
p {
	margin: 0;
	font-weight: 300;
}

// contactNav contactNav contactNav contactNav contactNav contactNav contactNav contactNav contactNav contactNav
.navContact {
	background-color: $colorFontDark;
	ul.topNavList {
		width: 50%;
	}
}
.navContactTop {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
}
.topNavList li {
	border-left: 1px solid $colorBorderDark;
}
.hamburger {
	border-right: 1px solid $colorBorderDark;
	a {
		margin: 5px;
	}
	display: none;
}
.bottomNav {
		background-color: $colorAccent2;
	}
.navContactList {
	display: flex;
	justify-content: flex-end;
	a {
		text-align: center;
	}
}
.bottomNavList {
		border-top: 1px solid $colorBackground;
	}
.navContactList a, .hamburger a {
	display: inline-block;
	border-radius: 50%;
	padding: 0 3px;
	color: $colorBackground;
	transition: background-color 1s;
	text-shadow: 1px 1px 1px rgba(128,128,128,.5);
}
.navContactList a:hover, .hamburger a:hover {
	background-color: $colorFontLight;
}
i {
	margin: 10px;
}

// siteNav siteNav siteNav siteNav siteNav siteNav siteNav siteNav siteNav siteNav siteNav siteNav siteNav siteNav
.siteList {
	// border-top: 1px solid $colorFontDark;
	// border-bottom: 1px solid $colorFontDark;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.siteList a {
	@include fontSize(21);
	color: $colorFontLight;
	transition: color 1s;
	i {
		color: $colorBackground;
		transition: color 1s;
	}
}
.siteList a:hover {
	color: $colorFontDark;
	i {
		color: $colorFontDark;
	}
}

// footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer
footer {
	color: $colorBackground;
	background-color: $colorAccent2;
	margin-top: 10px;
	h2 {
		color: $colorBackground;
	}
}
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 200px;
}

// goToTop goToTop goToTop goToTop goToTop goToTop goToTop goToTop goToTop goToTop goToTop goToTop goToTop goToTop
.goToTop {
	position:fixed;
	bottom:15px;
	right:25px;
	display:none;
	@include fontSize(18);
	font-weight: 700;
	a {
		text-shadow: 2px 2px 2px rgba(128,128,128,.5);
		box-shadow: 2px 2px 2px rgba(128,128,128,.5);
		color: $colorFontDark;
		transition: color 1s, background-color 1s, padding 1s;
		border: 2px solid $colorFontDark;
		border-radius: 5px;
		padding: 10px 15px 10px 5px;
		i {
			// color: rgba(245, 243, 246, 0);
			// margin: 0;
			// padding: 0;
			color: $colorFontDark;
			transition: color 1s, margin 1s;
		}
	}
	a:hover {
		color: $colorBackground;
		background-color: $colorFontDark;
		// padding-left: 5px;
		// padding-right: 5px;
		i {
			color: rgba(245, 243, 246, 1);
			// margin-right: 10px;
		}
	}
}

// border border border border border border border border border border border border border border border border
.aboutBorder {
	background-color: $colorAccent1;
}
.projectsBorder {
	background-color: $colorFontDark;
}
.skillsBorder {
	background-color: $colorAccent3;
	transform: skewY(-10deg);
	margin-bottom: 130px;
}
.contactBorder {
	background-color: $colorAccent3;	
}
.aboutBorder, 
.projectsBorder, 
.skillsBorder, 
.contactBorder {
	// min-height: 365px;
	min-height: 180px;
	position: relative;
	z-index: -1;
	box-shadow: 5px 5px 5px rgba(128,128,128,.5);
}
.aboutBorder, .projectsBorder {
	margin: 50px 0;
}

// project project project project project project project project project project project project
.project {
	display: flex;
	align-items: center;
	.projectLeft {
		width: 50%;
		h4 {
			color: $colorAccent2;
			font-weight: 700;
		}
		h3 {
			color: $colorFontDark;
			font-family: $fontTitle;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	.projectRight {
		width: 50%;
		img {
			float: right;
			max-height: 100%;
			max-width: 100%;
			border: 1px solid $colorFontDark;
			box-shadow: 5px 5px 5px rgba(128,128,128,.5);
		}
	}
}

// triangle triangle triangle triangle triangle triangle triangle triangle triangle triangle triangle

// http://apps.eky.hk/css-triangle-generator/
.triangleBlue {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 700px 700px 0 0;
	border-color: #2ca7f3 transparent transparent transparent;
	margin: 0;
	filter: drop-shadow(5px 5px 5px rgba(128,128,128,.5));
	position: relative;
	z-index: -1;
}

// http://apps.eky.hk/css-triangle-generator/
.triangleYellow {
	margin: 0 0 0 auto;
	width: 0;
	height: 0;
	border-style: solid;
	// border-width: 0 480px 480px 480px;
	// border-color: #fefe81 transparent transparent transparent;
	border-width: 0 0 700px 700px;
	border-color: transparent transparent #fefe81 transparent;
	filter: drop-shadow(5px 5px 5px rgba(128,128,128,.5));
	position: relative;
	right: 223px;
	z-index: -1;
}

// header header header header header header header header header header header header header header header 
.header {
	display: flex;
	align-items: center;
	div {
		width: 50%;
	}
	.headerRight {
		text-align: center;
	}
}

// projects projects projects projects projects projects projects projects projects projects projects
.project {
	margin-bottom: 50px;
}

// contact contact contact contact contact contact contact contact contact contact contact contact
.contact div.container {
	margin: 50px auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}
div.contactLeft, div.contactRight {
	width: 50%;
}

form{
	input[type="submit"], input[type="text"], input[type="email"], textarea {
		font-family: $fontText;
		@include fontSize(18);
		letter-spacing: 0.5px;
		color: $colorFontDark;
		outline-color: $colorFontLight;
		background-color: rgba($colorBackground, .5);
		box-shadow: 5px 5px 5px rgba(128,128,128,.5);
		margin-bottom: 10px;

	}
	input[type="submit"], input[type="text"], input[type="email"] {
		height: 40px;
	}
	input[type="text"], input[type="email"], textarea {
		border: 1px solid $colorFontDark;
		width: 100%;
		padding: 0 0 0 10px;
	}
	input[type="submit"] {
		color: $colorFontLight;
	    border: 1px solid $colorFontDark;
		width: 80px;
		text-align: center;
		@include fontSize(21);
		letter-spacing: 3px;
		padding: 0 10px;
	}
	textarea {
		resize: none;
		padding-top: 10px;
		padding-left: 10px;
	}
	::-webkit-input-placeholder {
		color: $colorFontLight;
	}
	div.wpcf7-response-output {
		color: $colorFontDark;
		background-color: rgba($colorBackground, .5);
		box-shadow: 5px 5px 5px rgba(128,128,128,.5);
		margin: 0;
	}
}