// responsive responsive responsive responsive responsive responsive responsive responsive responsive responsive

/* portrait tablet / small desktops */
@media all and (max-width: 940px) {
	body {
		background-color: green;
	}
}

/* landscape phone / portrait tablet */
@media all and (max-width: 768px) {
	body {
		background-color: purple;
	}
}

/* landscape phone / portrait phone */
@media all and (max-width: 480px) {
	body {
		background-color: orange;
	}

	.navContactTop {
		justify-content: space-between;
	}
	.hamburger {
		display: block;
	}
	.modal {
		width: 75vw;
		height: 75vh;
		position: abolute;
		top: 100px;
		right: 0;
		bottom: 0;
		left: 0;
	}
}