// responsive responsive responsive responsive responsive responsive responsive responsive responsive responsive

/* portrait tablet / small desktops */
@media all and (max-width: 940px) {
	body {
		background-color: green;
	}
	i.fa-chevron-down, i.fa-chevron-up {
		display: none;
	}

// goToTop
	.goToTop {
		bottom: 20px;
		right: 10px;
		@include fontSize(16);
		a {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

// triangle triangle triangle triangle triangle triangle triangle triangle triangle triangle triangle
	.triangleBlue {
		border-width: 470px 470px 0 0;
	}
	.triangleYellow {
		border-width: 0 0 580px 580px;
		right: 340px;
	}
// contact
	textarea {
		height: 150px;
	}
	div.contactLeft {
		width: 66.66%;
	}
	div.contactRight {
		width: 33.33%;
	}
// project
	.project {
		margin-bottom: 0px;
		h3 {
			@include fontSize(18);
		}
		p {
			@include fontSize(15);
		}
	}
	.projectTop h4 {
			@include fontSize(16);
		}
}

/* landscape phone / portrait tablet */
@media all and (max-width: 768px) {
	body {
		background-color: purple;
	}
	.project {
		align-items: center;
	}
	p {
		@include fontSize(15);
	}
	.container .contactLeft {
		width: 100%
	}

// triangle triangle triangle triangle triangle triangle triangle triangle triangle triangle triangle
	.triangleBlue {
		border-width: 410px 410px 0 0;
	}
	.triangleYellow {
		border-width: 0 0 520px 520px;
	}
	textarea {
		height: 100px;
	}
// goToTop goToTop goToTop goToTop goToTop goToTop goToTop goToTop goToTop goToTop
	.goToTop {
		bottom: 25px;
		right: 10px;
		@include fontSize(14);
		a {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}

/* landscape phone / portrait phone */
@media all and (max-width: 480px) {
	body {
		background-color: orange;
	}

	.navContactTop {
		justify-content: space-between;
	}
	.hamburger {
		display: block;
	}
	// .modal {
	// 	width: 75vw;
	// 	height: 75vh;
	// 	position: abolute;
	// 	top: 100px;
	// 	right: 0;
	// 	bottom: 0;
	// 	left: 0;
	// }

	// triangle triangle triangle triangle triangle triangle triangle triangle triangle triangle triangle
	.triangleBlue {
		border-width: 410px 410px 0 0;
	}
	.triangleYellow {
		border-width: 0 0 370px 370px;
	}
// goToTop goToTop goToTop goToTop goToTop goToTop goToTop goToTop goToTop goToTop
	.goToTop {
		bottom: 25px;
		right: 2px;
		@include fontSize(10);
		letter-spacing: 0.25px;
		a {
			padding: 5px 2px;
		}
	}
	.bottomNavList {
		justify-content: center;
	}
}